* {
	box-sizing: border-box;
}

img {
	display: block;
	width: 100%;
}

.container {
	position: relative;
	margin: auto;
	width: 100%;
	max-width: 1080px;
	padding: 30px 20px;
}

.swiper-slide {
	width: 100%;
	/* height: 800px; */
	background-color: #eee;
}
.swiper-slide-active .text-wrap{
	top:44%;
	opacity: 1;
	transition: 0.5s;
}
.text-wrap{
	position: absolute;
	top:50%;

	left:0;
	right:0;
	width: 600px;
	opacity: 0;
	margin:auto;
	text-align: center;
	transition: 0.5s;
}
.text-wrap h2{
	color:#fff;
	font-size: 48px;
	line-height: 1.25;
	font-weight: bold;
	margin-bottom:16px;
}
.text-wrap p{
	color: #fff;
	font-size: 20px;
}
.swiper-pagination-bullet{
	width:40px; 
	height: 3px;
	border-radius: 0;
	background-color:#fff;
}
.swiper-pagination-bullet-active {
	background: #fff;
	width:80px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	opacity: 0;
}

.swiper-button-next,
.swiper-button-prev {
	width: 40px;
	height: 40px;
	background-color: rgba(240, 240, 240, 0.7);
	backdrop-filter: blur(3px);
	background-size: 18px;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 2;
	border-radius: 50%;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	position: absolute;
	/* top: 80px; */

}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
	display: none;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
	background-color: #004fff;
	box-shadow: 0 4px 12px rgba(0, 79, 255, 0.4);
}

.swiper-button-prev {
	background-image: url(../svg/icon-arrow-left.svg);
	left: 20px;
}

.swiper-button-prev:hover {
	background-image: url(../svg/icon-arrow-left-w.svg);
}

.swiper-button-next {
	background-image: url(../svg/icon-arrow-right.svg);
	right: 20px;
}

.swiper-button-next:hover {
	background-image: url(../svg/icon-arrow-right-w.svg);

}